/* Start Variables */
:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}
/* End Variables */
/* Start Global Rules */
*,
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.page {
  overflow-x: hidden; 
  min-height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
/* End Global Rules */
/* Start Header */
header {
  padding: 60px 0; 
}
header .container {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
header .logo {
  width: 190px;
}
header .button {
  border-radius: 25px; 
  border: 1px solid var(--Pink); 
  padding: 7px 25px; 
  color: var(--Pink); 
  font-size: 12px;
  cursor: pointer; 
  box-shadow: 0 0 10px rgb(221 221 221);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
/* End Header */
/* Start Landing */
.landing {
  padding: 130px 0 60px; 
  text-align: center;
}
.landing .title {
  font-family: 'Poppins', sans-serif;
  font-size: 46px;
  margin-bottom: 30px;
  color: var(--Very-Dark-Cyan);
}
.landing p {
  max-width: 500px; 
  margin: 0 auto;
}
.special-button {
  width: fit-content;
  padding: 20px 80px;
  background-color: var(--Pink);
  color: #fff;
  border-radius: 35px;
  margin: 30px auto 100px;
  font-weight: bold; 
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0 0 0 / .3);
}
/* End Landing */
/* Start Stats */
.stats {
  padding: 0 0 150px;
}
.stats .content {
  display: flex;
}
.stats .content .communities, 
.stats .content .messages {
  flex: 1; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.stats .content .communities img, 
.stats .content .messages img {
  max-width: 35px;
}
.stats .content .communities h3, 
.stats .content .messages h3 {
  font-size: 75px;
}
.stats .content .communities p, 
.stats .content .messages p {
  text-align: center; 
  color: #777;
}
/* End Stats */
/* Start Grow, Users */
.top {
  transform: translateY(6px);
}
.grow, 
.users {
  position: relative;
  background-color: #f6fbff;
  padding: 60px 0;
}
.grow .container, 
.users .container {
  display: flex;
}
.grow .text, 
.users .text {
  flex: 1;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}
.grow .text h3,
.users .text h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--Very-Dark-Cyan);
  font-size: 40px;
  margin-bottom: 20px;
}
.grow .text p, 
.users .text p {
  line-height: 1.3; 
  font-size: 20px;
}
.grow .image, 
.users .image {
  flex: 1;
  text-align: center;
}
.grow .image img, 
.users .image img {
  max-width: 75%;
}
/* End Grow, Users */
/* Strat Conversation */
.conver {
  padding: 60px 0;
}
.conver .container {
  display: flex; 
}
.conver .image {
  flex: 1;
  text-align: center;
}
.conver img {
  max-width: 75%;
}
.conver .text {
  flex: 1;
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}
.conver h3 {
  color: var(--Very-Dark-Cyan);
  font-size: 40px; 
  margin-bottom: 20px;  
}
.conver p {
  line-height: 1.3; 
  font-size: 20px;
}
/* End Conversation */
/* Start Contact */
.contact {
  padding: 60px 0;
}
.contact h3 {
  text-align: center; 
  font-size: 40px;
  color: var(--Very-Dark-Cyan);
  font-family: 'Poppins', sans-serif;
}
/* End Contact */
/* Start Footer */
footer {
  padding: 60px 0;
  color: #eee;
}
footer .container {
  display: flex; 
  justify-content: space-between;
}
footer .f-contact {
  flex: 1;
}
footer .f-contact .logo {
  filter: brightness(0) invert(1);
  margin-bottom: 30px;
}
footer .f-contact p {
  max-width: 380px; 
  line-height: 1.7; 
  margin-bottom: 30px;
}
footer .f-contact .info {
  display: flex; 
  flex-direction: column;
  margin-bottom: 60px;
}
footer .f-contact .info span {
  margin-bottom: 15px;
}
footer .f-contact .info span img {
  margin-right: 15px;
}
footer .f-contact .social {
  display: flex; 
  gap: 25px;
}
footer .f-contact .social img {
  filter: brightness(0) invert(1);
  width: 30px;
}
footer .subscribe {
  flex: 1;
  transform: translateX(40px);
}
footer .subscribe h4 {
  font-size: 25px;
  margin-bottom: 30px;
}
footer .subscribe p {
  max-width: 390px;
  margin-bottom: 60px;
}
footer .subscribe input[type="text"] {
  outline: none;
  border: none;
  margin-right: 30px;
  width: 320px; 
  height: 45px;
  border-radius: 6px;
  padding: 15px;
}
footer .subscribe input[type="submit"] {
  outline: none;
  border: none;
  width: 175px; 
  height: 45px;
  border-radius: 6px;
  background-color: var(--Pink);
  color: #fff;
  font-size: 17px;
}
/* End Footer */
/* Curved Section Media */
.top-mobile {
  display: none;
}
.mobile {
  
}












