/* Start Variables */
:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}
/* End Variables */
/* Start Global Rules */
*,
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.page {
  overflow-x: hidden; 
  min-height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@media (max-width: 375px) {
  /* .page .container Is More Specific Selector So It Won't Be Crossed */
  .page .container {
    width: 350px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
/* End Global Rules */
/* Start Header */
header {
  padding: 60px 0; 
}
@media (max-width: 375px) {
  header {
    padding: 20px 0;
  }
}
header .container {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
header .logo {
  width: 190px;
}
@media (max-width: 375px) {
  header .logo {
    width: 100px;
  }
}
header .button {
  border-radius: 25px; 
  border: 1px solid var(--Pink); 
  padding: 10px 32px; 
  color: var(--Pink); 
  font-size: 16px;
  cursor: pointer; 
  box-shadow: 0 0 10px rgb(221 221 221);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: .3s;
}
header .button:hover {
  opacity: .7;
}
@media (max-width: 375px) {
  header .button {
    padding: 5px 20px; 
    font-size: 10px;
  }
}
/* End Header */
/* Start Landing */
.landing {
  padding: 130px 0 60px; 
  text-align: center;
}
@media (max-width: 375px) {
  .landing {
    padding: 100px 0 90px;
  }
}
.landing .title {
  font-family: 'Poppins', sans-serif;
  font-size: 46px;
  margin-bottom: 30px;
  color: var(--Very-Dark-Cyan);
}
@media (max-width: 375px) {
  .landing .title {
    font-size: 27px;
  }
}
.landing p {
  max-width: 700px; 
  font-size: 23px; 
  margin: 0 auto;
}
@media (max-width: 375px) {
  .landing p {
    font-size: 14px;
  }
}
.special-button {
  width: fit-content;
  padding: 20px 80px;
  background-color: var(--Pink);
  color: #fff;
  border-radius: 35px;
  margin: 30px auto 100px;
  font-weight: bold; 
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0 0 0 / .3);
  transition: .3s;
}
.special-button:hover {
  opacity: .7; 
}
@media (max-width: 375px) {
  .special-button {
    padding: 12px 35px; 
    font-size: 14px; 
    margin: 40px auto 120px;
  }
  .landing img {
    width: 100%;
  }
}
/* End Landing */
/* Start Stats */
.stats {
  padding: 0 0 150px;
}
.stats .content {
  display: flex;
}
.stats .content .communities, 
.stats .content .messages {
  flex: 1; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.stats .content .communities img, 
.stats .content .messages img {
  max-width: 35px;
}
.stats .content .communities h3, 
.stats .content .messages h3 {
  font-size: 75px;
}
.stats .content .communities p, 
.stats .content .messages p {
  text-align: center; 
  color: #777;
}
@media (max-width: 375px) {
  .stats {
    padding-bottom: 50px;
  }
  .stats .content {
    flex-direction: column; 
    gap: 90px;
  }
  .stats .communities .wrapper, 
  .stats .messages .wrapper {
    max-width: 190px;
  }
  .stats .content .communities .wrapper h3, 
  .stats .content .messages .wrapper h3 {
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
  }
  .stats .messages p {
    max-width: 100px; 
    margin: 0 auto;
  }
}
/* End Stats */
/* Start Grow, Users */
.grow, 
.users {
  position: relative;
  background-color: #f6fbff;
  padding: 60px 0;
}
.grow .container, 
.users .container {
  display: flex;
}
@media (max-width: 375px) {
  .grow .container, 
  .users .container {
    flex-direction: column-reverse; 
    gap: 100px;
  }
  .grow .container .text h3,
  .users .container .text h3 {
    font-size: 25px; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  .grow .container .text p, 
  .users .container .text p {
    text-align: center; 
    font-size: 14px; 
    max-width: 310px; 
    line-height: 1.5;
  }
}
.grow .text, 
.users .text {
  flex: 1;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}
.grow .text h3,
.users .text h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--Very-Dark-Cyan);
  font-size: 40px;
  margin-bottom: 20px;
}
.grow .text p, 
.users .text p {
  line-height: 1.3; 
  font-size: 20px;
}
.grow .image, 
.users .image {
  flex: 1;
  text-align: center;
}
.grow .image img, 
.users .image img {
  max-width: 75%;
}
/* End Grow, Users */
/* Strat Conversation */
.conver {
  padding: 60px 0;
}
.conver .container {
  display: flex; 
}
@media (max-width: 375px) {
  .conver .container {
    flex-direction: column;
    gap: 100px; 
  }
}
.conver .image {
  flex: 1;
  text-align: center;
}
.conver img {
  max-width: 75%;
}
.conver .text {
  flex: 1;
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}
.conver h3 {
  color: var(--Very-Dark-Cyan);
  font-size: 40px; 
  margin-bottom: 20px;  
}
@media (max-width: 375px) {
  .conver .container h3 {
    font-size: 25px; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  .conver .container p {
    font-size: 14px; 
    text-align: center; 
    max-width: 310px;
  }
}
.conver p {
  line-height: 1.3; 
  font-size: 20px;
}
/* End Conversation */
/* Start Contact */
.contact {
  padding: 60px 0;
}
.contact h3 {
  text-align: center; 
  font-size: 40px;
  color: var(--Very-Dark-Cyan);
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 375px) {
  .contact h3 {
    max-width: 300px; 
    margin: 0 auto;
    font-size: 30px;
  }
}
/* End Contact */
/* Start Footer */
footer {
  padding: 60px 0;
  color: #eee;
}
footer .container {
  display: flex; 
  justify-content: space-between;
}
@media (max-width: 375px) {
  footer .container {
    flex-direction: column; 
  }
}
footer .f-contact {
  flex: 1;
}
@media (max-width: 375px) {
  footer .container .f-contact {
    order: 1;
  }
  footer .container .f-contact .logo {
    margin-bottom: 20px;
  } 
  footer .container .f-contact p {
    max-width: 300px; 
    font-size: 14px;
    margin-bottom: 40px;
  }
  footer .container .f-contact .info {
    margin-bottom: 40px;
  }
}
footer .f-contact .logo {
  filter: brightness(0) invert(1);
  margin-bottom: 30px;
}
footer .f-contact p {
  max-width: 380px; 
  line-height: 1.7; 
  margin-bottom: 30px;
}
footer .f-contact .info {
  display: flex; 
  flex-direction: column;
  margin-bottom: 60px;
}
footer .f-contact .info span {
  margin-bottom: 15px;
}
footer .f-contact .info span img {
  margin-right: 15px;
}
footer .f-contact .social {
  display: flex; 
  gap: 25px;
}
footer .f-contact .social img {
  filter: brightness(0) invert(1);
  width: 30px;
}
footer .subscribe {
  flex: 1;
  transform: translateX(40px);
}
@media (max-width: 375px) {
  footer .container .subscribe {
    transform: translateX(0);
  }
  footer .container .subscribe h4 {
    margin-bottom: 20px;
  }
  footer .container .subscribe p {
    max-width: 300px; 
    font-size: 14px; 
    margin-bottom: 30px;
  }
  footer .container .subscribe input[type="text"] {
    width: 100%;
  }
  footer .container .subscribe input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 100px auto;
  }
}
footer .subscribe h4 {
  font-size: 25px;
  margin-bottom: 30px;
}
footer .subscribe p {
  max-width: 390px;
  margin-bottom: 60px;
}
footer .subscribe input[type="text"] {
  outline: none;
  border: none;
  margin-right: 30px;
  width: 320px; 
  height: 45px;
  border-radius: 6px;
  padding: 15px;
}
footer .subscribe input[type="submit"] {
  outline: none;
  border: none;
  width: 175px; 
  height: 45px;
  border-radius: 6px;
  background-color: var(--Pink);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: .3s;
}
footer .subscribe input[type="submit"]:hover {
  background-color: #f987cf;
}
/* End Footer */
/* Curved Section Media */
.top {
  transform: translateY(7px);
  width: 100%;
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
}
.bottom {
  width: 100%;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}
.top-mobile, 
.bottom-mobile {
  display: none;
}
@media (max-width: 375px) {
  .top-mobile, 
  .bottom-mobile {
    display: block;
  }
  .top-mobile {
    transform: translateY(2px);
  }
  .top, 
  .bottom {
    display: none;
  }
}


